<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
		<meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Darwin B. Salvosa</title>
    <link href="css/styles.css" rel="stylesheet">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
		<script src="js/script.js"></script>
  </head>
  <body id="home">
  <div class="page-wrapper">
		<div id="family-law" class="popup cat-popup">
			<div class="popup-content">
				<div class="popup-wrap">
					<div class="popup-box clearfix">
						<h3><span class="input-addon">3</span> Which <span>Family law</span> issue(s) apply to your case?</h3>
							<div class="popup-group-wrap">	
								<div class="half">
								<div class="popup-group">
									<input type="checkbox" id="Adoptions" name="Adoptions" />
									<label for="Adoptions"><span></span>Adoptions</label>
								</div>
								<div class="popup-group">
									<input type="checkbox" id="Guardianship" name="Guardianship" />
									<label for="Guardianship"><span></span>Guardianship</label>
								</div>
								<div class="popup-group">
									<input type="checkbox" id="Child Custody and Visitaion" name="Child Custody and Visitaion" />
									<label for="Child Custody and Visitaion"><span></span>Child Custody and Visitaion</label>
								</div>
								<div class="popup-group">
									<input type="checkbox" id="Paternity" name="Paternity" />
									<label for="Paternity"><span></span>Paternity</label>
								</div>
								</div>
								<div class="half">
								<div class="popup-group">
									<input type="checkbox" id="Child Support" name="Child Support" />
									<label for="Child Support"><span></span>Child Support</label>
								</div>
								<div class="popup-group">
									<input type="checkbox" id="Separations" name="Separations" />
									<label for="Separations"><span></span>Separations</label>
								</div>
								<div class="popup-group">
									<input type="checkbox" id="Divorce" name="Divorce" />
									<label for="Divorce"><span></span>Divorce</label>
								</div>
								<div class="popup-group">
									<input type="checkbox" id="Spousal Support or Alimony" name="Spousal Support or Alimony" />
									<label for="Spousal Support or Alimony"><span></span>Spousal Support or Alimony</label>
								</div>
								</div>
								<div class="button"><input type="submit" value="FIND A LAWYER NOW"></div>
							</div>
					</div>
					<div class="popupclose">x</div>
				</div>
			</div>
		</div>
		<div id="abuse" class="popup cat-popup">
			<div class="popup-content">
				<div class="popup-wrap">
					<div class="popup-box clearfix">
						<h3><span class="input-addon">3</span> Which <span>Abuse</span> issue(s) apply to your case?</h3>
							<div class="popup-group-wrap">	
								<div class="half">
								<div class="popup-group">
									<input type="checkbox" id="Adoptions" name="Adoptions" />
									<label for="Adoptions"><span></span>Adoptions</label>
								</div>
								<div class="popup-group">
									<input type="checkbox" id="Guardianship" name="Guardianship" />
									<label for="Guardianship"><span></span>Guardianship</label>
								</div>
								<div class="popup-group">
									<input type="checkbox" id="Child Custody and Visitaion" name="Child Custody and Visitaion" />
									<label for="Child Custody and Visitaion"><span></span>Child Custody and Visitaion</label>
								</div>
								<div class="popup-group">
									<input type="checkbox" id="Paternity" name="Paternity" />
									<label for="Paternity"><span></span>Paternity</label>
								</div>
								</div>
								<div class="half">
								<div class="popup-group">
									<input type="checkbox" id="Child Support" name="Child Support" />
									<label for="Child Support"><span></span>Child Support</label>
								</div>
								<div class="popup-group">
									<input type="checkbox" id="Separations" name="Separations" />
									<label for="Separations"><span></span>Separations</label>
								</div>
								<div class="popup-group">
									<input type="checkbox" id="Divorce" name="Divorce" />
									<label for="Divorce"><span></span>Divorce</label>
								</div>
								<div class="popup-group">
									<input type="checkbox" id="Spousal Support or Alimony" name="Spousal Support or Alimony" />
									<label for="Spousal Support or Alimony"><span></span>Spousal Support or Alimony</label>
								</div>
								</div>
								<div class="button"><input type="submit" value="FIND A LAWYER NOW"></div>
							</div>
					</div>
					<div class="popupclose">x</div>
				</div>
			</div>
		</div>
		<div id="drug" class="popup cat-popup">
			<div class="popup-content">
				<div class="popup-wrap">
					<div class="popup-box clearfix">
						<h3><span class="input-addon">3</span> Which <span>Drug</span> issue(s) apply to your case?</h3>
							<div class="popup-group-wrap">	
								<div class="half">
								<div class="popup-group">
									<input type="checkbox" id="Adoptions" name="Adoptions" />
									<label for="Adoptions"><span></span>Adoptions</label>
								</div>
								<div class="popup-group">
									<input type="checkbox" id="Guardianship" name="Guardianship" />
									<label for="Guardianship"><span></span>Guardianship</label>
								</div>
								<div class="popup-group">
									<input type="checkbox" id="Child Custody and Visitaion" name="Child Custody and Visitaion" />
									<label for="Child Custody and Visitaion"><span></span>Child Custody and Visitaion</label>
								</div>
								<div class="popup-group">
									<input type="checkbox" id="Paternity" name="Paternity" />
									<label for="Paternity"><span></span>Paternity</label>
								</div>
								</div>
								<div class="half">
								<div class="popup-group">
									<input type="checkbox" id="Child Support" name="Child Support" />
									<label for="Child Support"><span></span>Child Support</label>
								</div>
								<div class="popup-group">
									<input type="checkbox" id="Separations" name="Separations" />
									<label for="Separations"><span></span>Separations</label>
								</div>
								<div class="popup-group">
									<input type="checkbox" id="Divorce" name="Divorce" />
									<label for="Divorce"><span></span>Divorce</label>
								</div>
								<div class="popup-group">
									<input type="checkbox" id="Spousal Support or Alimony" name="Spousal Support or Alimony" />
									<label for="Spousal Support or Alimony"><span></span>Spousal Support or Alimony</label>
								</div>
								</div>
								<div class="button"><input type="submit" value="FIND A LAWYER NOW"></div>
							</div>
					</div>
					<div class="popupclose">x</div>
				</div>
			</div>
		</div>
		
		<div id="categorieslist" class="popup">
			<div class="popup-content">
				<div class="popup-wrap">
					<div class="popup-box clearfix">
						<h3>Other Categories</h3>
						<h4>Choose the category that best fits your case</h4>
						<div class="half">
							<div class="cat-link"><a href="#">Abuse (Child, Domestic, Sexual)</a></div>
							<div class="cat-link"><a href="#">Agencies &amp; Administration</a></div>
							<div class="cat-link"><a href="#">Automobile ( DUI, Crimes, Speeding )</a></div>
							<div class="cat-link"><a href="#">Automobiles ( Accidents, Insurance )</a></div>
							<div class="cat-link"><a href="#">Banking ( Business, Consumer )</a></div>
							<div class="cat-link"><a href="#">Bars &amp; Restaurants</a></div>
							<div class="cat-link"><a href="#">Business Formation &amp; Dissolution</a></div>
							<div class="cat-link"><a href="#">Children (Adoption, Custody, Support)</a></div>
							<div class="cat-link"><a href="#">Class Actions (Bad Drugs, Products)</a></div>
							<div class="cat-link"><a href="#">Commercial Law and Contracts</a></div>
							<div class="cat-link"><a href="#">Commercial Real Estate</a></div>
							<div class="cat-link"><a href="#">Constitutional Law</a></div>
							<div class="cat-link"><a href="#">Construction (Disputes, Liens)</a></div>
							<div class="cat-link"><a href="#">Categories Item Here</a></div>						
						</div>
						<div class="half">
							<div class="cat-link"><a href="#">Loremipsum Dolorsitamet,</a></div>
							<div class="cat-link"><a href="#">Lonsectetur Scingelit  (Baseererkj, Mereit)</a></div>
							<div class="cat-link"><a href="#">Miam Euvelit</a></div>
							<div class="cat-link"><a href="#">Mempor Auctor (Estiarma, Toeruslej)</a></div>
							<div class="cat-link"><a href="#">Nisultricies Dictumest.</a></div>
							<div class="cat-link"><a href="#">Ntfring Sodalelit (Aeeticl Restoustoust)</a></div>
							<div class="cat-link"><a href="#">Ntvarius Lectus & Congue </a></div>
							<div class="cat-link"><a href="#">Pellentesque</a></div>
							<div class="cat-link"><a href="#">Rigula Aliquamattis (Nestusotu, Wewreist)</a></div>
							<div class="cat-link"><a href="#">Set Tigulempor</a></div>
							<div class="cat-link"><a href="#">Sehicula Sedsitamet</a></div>
							<div class="cat-link"><a href="#">Seque Nesturre </a></div>
							<div class="cat-link"><a href="#">Tollis Gaurissed</a></div>
							<div class="cat-link"><a href="#">Tempor Auctor (Estiarma, Toeruslej)</a></div>
						</div>
							
					</div>
					<div class="popupclose">x</div>
				</div>
			</div>
		</div>
    <header id="header">
      <div class="container">
				<div class="logo">
					<img src="images/logo.png">
				</div>
				<div class="slogan">
				<ul>
					<li><i class="s-check"></i> No fee to present yout face</li>
					<li><i class="s-check"></i> Choose from lawyers in your area</li>
					<li><i class="s-check"></i> A 100% confidential service</li>
				</ul>
				</div>
      </div>
    </header>

    <section id="content">
      <div class="container">
        <div class="heading">
					<h1>Find a Lawyer for your Legal Issue</h1>
					<h2>Fast, Free and Confidential</h2>
				</div>
        <div class="form">
					<div class="input-wrap">
						<label>Enter Zip Code or City:</label>					
						<div class="input-group">
							<span class="input-addon">1</span>
							<input type="text" class="form-control"  value="" placeholder="Does not have to be where you live">
						</div>
					</div>
					<div class="input-wrap">
						<label>Choose a category:</label>					
						<div class="input-group">
							<span class="input-addon">2</span>
							<div class="input-select">
							<select id="catselector">
								 <option>Click to choose a legal category</option>
								 <option value="family-law">Family Law</option>
								 <option value="abuse">Abuse</option>
								 <option value="drug">Drug</option>
							</select>
							</div>
						</div>
					</div>
					<div class="form-click">Can’t find your category? <span>Click here</span>.</div>
				</div>
        <div class="reviews">
					<h3>Clients review LegalMatch lawyers</h3>
					<div class="item text-left">
						<div class="face">
							<img class="avatar photo" src="images/r-img-1.png" alt="Mitchell M.">
							<div class="name">Mitchell M.</div>
							<div class="address">Cherry Hill, NJ</div>
						</div>
						<div class="item-content">
							<h4 class="category">Family Law</h4>							
							<div class="item-rating">
							<i class="r-star"></i> <i class="r-star"></i> <i class="r-star"></i> <i class="r-star"></i> <i class="r-star"></i></div>
							<div class="item-description">
								<p>“Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et ...</p>
								<div class="r-view">Read Review <i class="r-more"></i></div>
								<div id="review-1" class="popup review-popup">
								<div class="popup-content">
										<div class="popup-wrap">
												<div class="popup-box clearfix">
														<div class="r-header">Client Reviews</div>
														<div class="r-profile">
																<div class="face">
																		<img class="avatar photo" src="images/r-img-1-large.png" alt="Mitchell M.">
																</div>
																<div class="info">
																		<div class="name">Mitchell M.</div>
																		<div class="address">Cherry Hill, NJ</div>
																		<div class="category">Family Law</div>
																</div>
														</div>
														<div class="r-rating-average">
																Rating (29 users) <span class="r-avg-rating">
													<i class="r-star"></i> <i class="r-star"></i> <i class="r-star"></i> <i class="r-star"></i> <i class="r-star"></i></span>
														</div>
														<div class="r-rating-stat">

																<div class="r-rating-group">
																		<div class="r-rating-item">
																				Overall
																		</div>
																		<div class="r-rating-score">
																				<span class="r-avg-rating"><i class="r-star"></i> <i class="r-star"></i> <i class="r-star"></i> <i class="r-star"></i> <i class="r-star"></i></span>
																		</div>
																</div>
																<div class="r-rating-group">
																		<div class="r-rating-item">
																				Responded in a timely manner
																		</div>
																		<div class="r-rating-score">
																				<span class="r-avg-rating"><i class="r-star"></i> <i class="r-star"></i> <i class="r-star"></i> <i class="r-star"></i> <i class="r-star"></i></span>
																		</div>
																</div>
																<div class="r-rating-group">
																		<div class="r-rating-item">
																				Answered questions clearly
																		</div>
																		<div class="r-rating-score">
																				<span class="r-avg-rating"><i class="r-star"></i> <i class="r-star"></i> <i class="r-star"></i> <i class="r-star"></i> <i class="r-star"></i></span>
																		</div>
																</div>
																<div class="r-rating-group">
																		<div class="r-rating-item">
																				Understood needs
																		</div>
																		<div class="r-rating-score">
																				<span class="r-avg-rating"><i class="r-star"></i> <i class="r-star"></i> <i class="r-star"></i> <i class="r-star"></i> <i class="r-star"></i></span>
																		</div>
																</div>
																<div class="r-rating-group">
																		<div class="r-rating-item">
																				Gave complete and clear information
																		</div>
																		<div class="r-rating-score">
																				<span class="r-avg-rating"><i class="r-star"></i> <i class="r-star"></i> <i class="r-star"></i> <i class="r-star"></i> <i class="r-star"></i></span>
																		</div>
																</div>
																<div class="r-rating-group">
																		<div class="r-rating-item">
																				Knowledgeable in legal area
																		</div>
																		<div class="r-rating-score">
																				<span class="r-avg-rating"><i class="r-star"></i> <i class="r-star"></i> <i class="r-star"></i> <i class="r-star"></i> <i class="r-star"></i></span>
																		</div>
																</div>
																<div class="r-rating-group">
																		<div class="r-rating-item">
																				Good value for money
																		</div>
																		<div class="r-rating-score">
																				<span class="r-avg-rating"><i class="r-star"></i> <i class="r-star"></i> <i class="r-star"></i> <i class="r-star"></i> <i class="r-star"></i></span>
																		</div>
																</div>
																<div class="r-rating-group">
																		<div class="r-rating-item">
																				Would hire again
																		</div>
																		<div class="r-rating-score">
																				<span class="r-avg-rating"><i class="r-star"></i> <i class="r-star"></i> <i class="r-star"></i> <i class="r-star"></i> <i class="r-star"></i></span>
																		</div>
																</div>
																<div class="r-rating-group">
																		<div class="r-rating-item">
																				Would recommend to friend
																		</div>
																		<div class="r-rating-score">
																				<span class="r-avg-rating"><i class="r-star"></i> <i class="r-star"></i> <i class="r-star"></i> <i class="r-star"></i> <i class="r-star"></i></span>
																		</div>
																</div>
														</div>
														<div class="r-text">
																<div class="r-text-score">
																		<span class="r-text-score-rating"><i class="r-star"></i> <i class="r-star"></i> <i class="r-star"></i> <i class="r-star"></i> <i class="r-star"></i></span> by Dexter Marchal, 06/10/2016
																</div>
																<p>Deb did a great job. Got my bench warrant set aside ... was sure I was going to jail ... phew. Judge seemed to respect her and I got what I</p>
														</div>
												</div>
												<div class="popupclose">x</div>
										</div>
								</div>
					</div>
							</div>
						</div>
						
					</div>
					<div class="item text-left">
						<div class="face">
							<img class="avatar photo" src="images/r-img-2.png" alt="Joel C.">
							<div class="name">Joel C.</div>
							<div class="address">Little Rock, AK</div>
						</div>
						<div class="item-content">
							<h4 class="category">Job &amp; Employment Law</h4>								
							<div class="item-rating">
							<i class="r-star"></i> <i class="r-star"></i> <i class="r-star"></i> <i class="r-star"></i> <i class="r-star"></i></div>
							<div class="item-description">
								<p>“Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et ... </p>
								<div class="r-view">Read Review <i class="r-more"></i></div>
								<div id="review-2" class="popup review-popup">
								<div class="popup-content">
										<div class="popup-wrap">
												<div class="popup-box clearfix">
														<div class="r-header">Client Reviews</div>
														<div class="r-profile">
																<div class="face">
																		<img class="avatar photo" src="images/r-img-2-large.png" alt="Mitchell M.">
																</div>
																<div class="info">
																		<div class="name">Joel C.</div>
																		<div class="address">Little Rock, AK</div>
																		<div class="category">Job &amp; Employment Law</div>
																</div>
														</div>
														<div class="r-rating-average">
																Rating (29 users) <span class="r-avg-rating">
													<i class="r-star"></i> <i class="r-star"></i> <i class="r-star"></i> <i class="r-star"></i> <i class="r-star"></i></span>
														</div>
														<div class="r-rating-stat">

																<div class="r-rating-group">
																		<div class="r-rating-item">
																				Overall
																		</div>
																		<div class="r-rating-score">
																				<span class="r-avg-rating"><i class="r-star"></i> <i class="r-star"></i> <i class="r-star"></i> <i class="r-star"></i> <i class="r-star"></i></span>
																		</div>
																</div>
																<div class="r-rating-group">
																		<div class="r-rating-item">
																				Responded in a timely manner
																		</div>
																		<div class="r-rating-score">
																				<span class="r-avg-rating"><i class="r-star"></i> <i class="r-star"></i> <i class="r-star"></i> <i class="r-star"></i> <i class="r-star"></i></span>
																		</div>
																</div>
																<div class="r-rating-group">
																		<div class="r-rating-item">
																				Answered questions clearly
																		</div>
																		<div class="r-rating-score">
																				<span class="r-avg-rating"><i class="r-star"></i> <i class="r-star"></i> <i class="r-star"></i> <i class="r-star"></i> <i class="r-star"></i></span>
																		</div>
																</div>
																<div class="r-rating-group">
																		<div class="r-rating-item">
																				Understood needs
																		</div>
																		<div class="r-rating-score">
																				<span class="r-avg-rating"><i class="r-star"></i> <i class="r-star"></i> <i class="r-star"></i> <i class="r-star"></i> <i class="r-star"></i></span>
																		</div>
																</div>
																<div class="r-rating-group">
																		<div class="r-rating-item">
																				Gave complete and clear information
																		</div>
																		<div class="r-rating-score">
																				<span class="r-avg-rating"><i class="r-star"></i> <i class="r-star"></i> <i class="r-star"></i> <i class="r-star"></i> <i class="r-star"></i></span>
																		</div>
																</div>
																<div class="r-rating-group">
																		<div class="r-rating-item">
																				Knowledgeable in legal area
																		</div>
																		<div class="r-rating-score">
																				<span class="r-avg-rating"><i class="r-star"></i> <i class="r-star"></i> <i class="r-star"></i> <i class="r-star"></i> <i class="r-star"></i></span>
																		</div>
																</div>
																<div class="r-rating-group">
																		<div class="r-rating-item">
																				Good value for money
																		</div>
																		<div class="r-rating-score">
																				<span class="r-avg-rating"><i class="r-star"></i> <i class="r-star"></i> <i class="r-star"></i> <i class="r-star"></i> <i class="r-star"></i></span>
																		</div>
																</div>
																<div class="r-rating-group">
																		<div class="r-rating-item">
																				Would hire again
																		</div>
																		<div class="r-rating-score">
																				<span class="r-avg-rating"><i class="r-star"></i> <i class="r-star"></i> <i class="r-star"></i> <i class="r-star"></i> <i class="r-star"></i></span>
																		</div>
																</div>
																<div class="r-rating-group">
																		<div class="r-rating-item">
																				Would recommend to friend
																		</div>
																		<div class="r-rating-score">
																				<span class="r-avg-rating"><i class="r-star"></i> <i class="r-star"></i> <i class="r-star"></i> <i class="r-star"></i> <i class="r-star"></i></span>
																		</div>
																</div>
														</div>
														<div class="r-text">
																<div class="r-text-score">
																		<span class="r-text-score-rating"><i class="r-star"></i> <i class="r-star"></i> <i class="r-star"></i> <i class="r-star"></i> <i class="r-star"></i></span> by Dexter Marchal, 06/10/2016
																</div>
																<p>Deb did a great job. Got my bench warrant set aside ... was sure I was going to jail ... phew. Judge seemed to respect her and I got what I</p>
														</div>
												</div>
												<div class="popupclose">x</div>
										</div>
								</div>
					</div>
							</div>
						</div>
					</div>
					<div class="item text-left">
						<div class="face">
							<img class="avatar photo" src="images/r-img-3.png" alt="Brigida R.">
							<div class="name">Brigida R.</div>
							<div class="address">Dallas, TX</div>
						</div>
						<div class="item-content">
							<h4 class="category">Family Law</h4>							
							<div class="item-rating">
							<i class="r-star"></i> <i class="r-star"></i> <i class="r-star"></i> <i class="r-star"></i> <i class="r-star"></i></div>
							<div class="item-description">
								<p>“Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et ... </p>
								<div class="r-view">Read Review <i class="r-more"></i></div>
								<div id="review-3" class="popup review-popup">
								<div class="popup-content">
										<div class="popup-wrap">
												<div class="popup-box clearfix">
														<div class="r-header">Client Reviews</div>
														<div class="r-profile">
																<div class="face">
																		<img class="avatar photo" src="images/r-img-3-large.png" alt="Mitchell M.">
																</div>
																<div class="info">
																		<div class="name">Brigida R.</div>
																		<div class="address">Dallas, TX</div>
																		<div class="category">Family Law</div>
																</div>
														</div>
														<div class="r-rating-average">
																Rating (29 users) <span class="r-avg-rating">
													<i class="r-star"></i> <i class="r-star"></i> <i class="r-star"></i> <i class="r-star"></i> <i class="r-star"></i></span>
														</div>
														<div class="r-rating-stat">

																<div class="r-rating-group">
																		<div class="r-rating-item">
																				Overall
																		</div>
																		<div class="r-rating-score">
																				<span class="r-avg-rating"><i class="r-star"></i> <i class="r-star"></i> <i class="r-star"></i> <i class="r-star"></i> <i class="r-star"></i></span>
																		</div>
																</div>
																<div class="r-rating-group">
																		<div class="r-rating-item">
																				Responded in a timely manner
																		</div>
																		<div class="r-rating-score">
																				<span class="r-avg-rating"><i class="r-star"></i> <i class="r-star"></i> <i class="r-star"></i> <i class="r-star"></i> <i class="r-star"></i></span>
																		</div>
																</div>
																<div class="r-rating-group">
																		<div class="r-rating-item">
																				Answered questions clearly
																		</div>
																		<div class="r-rating-score">
																				<span class="r-avg-rating"><i class="r-star"></i> <i class="r-star"></i> <i class="r-star"></i> <i class="r-star"></i> <i class="r-star"></i></span>
																		</div>
																</div>
																<div class="r-rating-group">
																		<div class="r-rating-item">
																				Understood needs
																		</div>
																		<div class="r-rating-score">
																				<span class="r-avg-rating"><i class="r-star"></i> <i class="r-star"></i> <i class="r-star"></i> <i class="r-star"></i> <i class="r-star"></i></span>
																		</div>
																</div>
																<div class="r-rating-group">
																		<div class="r-rating-item">
																				Gave complete and clear information
																		</div>
																		<div class="r-rating-score">
																				<span class="r-avg-rating"><i class="r-star"></i> <i class="r-star"></i> <i class="r-star"></i> <i class="r-star"></i> <i class="r-star"></i></span>
																		</div>
																</div>
																<div class="r-rating-group">
																		<div class="r-rating-item">
																				Knowledgeable in legal area
																		</div>
																		<div class="r-rating-score">
																				<span class="r-avg-rating"><i class="r-star"></i> <i class="r-star"></i> <i class="r-star"></i> <i class="r-star"></i> <i class="r-star"></i></span>
																		</div>
																</div>
																<div class="r-rating-group">
																		<div class="r-rating-item">
																				Good value for money
																		</div>
																		<div class="r-rating-score">
																				<span class="r-avg-rating"><i class="r-star"></i> <i class="r-star"></i> <i class="r-star"></i> <i class="r-star"></i> <i class="r-star"></i></span>
																		</div>
																</div>
																<div class="r-rating-group">
																		<div class="r-rating-item">
																				Would hire again
																		</div>
																		<div class="r-rating-score">
																				<span class="r-avg-rating"><i class="r-star"></i> <i class="r-star"></i> <i class="r-star"></i> <i class="r-star"></i> <i class="r-star"></i></span>
																		</div>
																</div>
																<div class="r-rating-group">
																		<div class="r-rating-item">
																				Would recommend to friend
																		</div>
																		<div class="r-rating-score">
																				<span class="r-avg-rating"><i class="r-star"></i> <i class="r-star"></i> <i class="r-star"></i> <i class="r-star"></i> <i class="r-star"></i></span>
																		</div>
																</div>
														</div>
														<div class="r-text">
																<div class="r-text-score">
																		<span class="r-text-score-rating"><i class="r-star"></i> <i class="r-star"></i> <i class="r-star"></i> <i class="r-star"></i> <i class="r-star"></i></span> by Dexter Marchal, 06/10/2016
																</div>
																<p>Deb did a great job. Got my bench warrant set aside ... was sure I was going to jail ... phew. Judge seemed to respect her and I got what I</p>
														</div>
												</div>
												<div class="popupclose">x</div>
										</div>
								</div>
					</div>
							</div>
						</div>
					</div>
				</div>
      </div>
    </section>



    <!-- Footer -->
    <footer class="footer">
      <div class="container">
				<div class="logo2">
					<img src="images/logo2.jpg">
				</div>
				<div class="copyright">
					
				<ul><li>User Agreement</li> <li>Privacy Policy </li><li>Sitemap</li></ul>
					<p>Copyright 1999-2016 LegalMatch. All right reserved. LegalMatch,<br>
					the Legal Match logo, and the tradedress are trdaemarks of LegalMatch. Patent pending.<p>
				</div>
				<div class="badges">
					<img src="images/link1.jpg"><br>
					<img src="images/link2.jpg">
				</div>
      </div>
    </footer>
</div>

  </body>

</html>
